html{
  height: 100%;
}

body{
  min-height: 100%;
}

.w-35{
  width:35%
}

.w-65{
  width : 65%
}

.hide{
  display: none;
}

.round-btn{
  border-radius: 50%;
  width:2rem;
  height:2rem;
  border:0.5px solid
}

textarea{
  resize: none;
  border:2px solid var(--primary-color)
}

.align-start{
  align-items: flex-start;
}

.gap-5{
  gap:5%
}

.full-height{
  height: 100%;
}