html{
  height: 100%;
}

body{
  min-height: 100%;
}

.w-35{
  width:35%
}

.w-65{
  width : 65%
}

.hide{
  display: none;
}

.round-btn{
  border-radius: 50%;
  width:2rem;
  height:2rem;
  border:0.5px solid
}

textarea{
  resize: none;
  border:2px solid var(--primary-color)
}

.align-start{
  align-items: flex-start;
}

.gap-5{
  gap:5%
}

.full-height{
  height: 100%;
}

.selected-border{
  border : 3px solid var(--primary-color)
}

.relative{
  position: relative;
}

.chip{
  border-radius: 100%;
  border : 2px solid teal
}

.vh-50{
  height: 50vh;
}

.error-text-colour{
  color: var(--error-color);
}

